<%= form_for @post, html: {multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% f.label :user_id %><br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <% if params[:forum] %>
    <div class="field">
      <%= f.label :board_id %><br>
      <%= f.text_field :board_id, :value => params[:board] %>
    </div>
  <% end %>
  <!-- <div class="field">
    <%= f.label :document %><br>
    <%= f.text_field :document %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div> -->
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <textarea class="form-control" rows = "5", name="post[text]">
      <%= @post.text %>
    </textarea>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
