<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Board:</strong>
  <%= @post.board %>
</p>

<p>
  <strong>Document:</strong>
  <%= @post.document %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @post.subject %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= link_to image_tag(@post.image.url(:med)), @post.image.url %>
<%= link_to document_tag(@post.document.url), @post.document.url %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
