<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Boards</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Date</th>
      <th>Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td>
          <%@users.each do |user| %>
            <% if board.user_id == user.id %>
              <h4><%= user.name %></h4>
            <% end %>
          <% end %>
        </td>
        <td>
          <h4><%= link_to h(board.name), board_path(board.id) %></h4>
        </td>
        <td>
          <h4><%= board.date %></h4>
        </td>
        <td>
          <h4><%= board.posts.count %> Posts </h4>
        </td>
      </tr>
      <tr>
        <td><%= link_to 'Show', board %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board', new_board_path %>
</div>
